<template>
#[[$END$]]#
</template>

<script>
import {Vue, Component} from 'vue-property-decorator';
@Component({
name: "${COMPONENT_NAME}"
})
export default class ${COMPONENT_NAME} extends Vue {

}
</script>

<style scoped>

</style>